---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog">
	<section class="page-header">
		<h1>Blog</h1>
		<p>Hier entsteht dein Blog rund um Schreiben, Lesen und das Leben dazwischen.</p>
	</section>
</Layout>

