---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Meine Bücher">
	<section class="page-header">
		<h1>Meine Bücher</h1>
		<p>Hier entsteht eine Übersicht über alle veröffentlichten und geplanten Bücher.</p>
	</section>
</Layout>

