---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Impressum">
	<section class="page-header">
		<h1>Impressum</h1>
		<p>
			Platzhalter für dein Impressum. Hier fügst du später alle rechtlich relevanten Angaben
			zum Angebot ein.
		</p>
	</section>
</Layout>

