---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakt">
	<section class="page-header">
		<h1>Kontakt</h1>
		<p>
			Auf dieser Seite können Besucherinnen und Besucher dich erreichen – z.&nbsp;B. über ein
			Kontaktformular oder direkte Kontaktdaten.
		</p>
	</section>
</Layout>

