---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Warum lesen">
	<div class="container">
		<section class="page-header">
		<h1>Warum lesen?</h1>
		<p>
			Diese Seite ist der Ort für deine Haltung zum Lesen – warum Geschichten wichtig sind und
			was sie mit uns machen.
		</p>
	</section>
	</div>
</Layout>

